<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/favicon-32x32.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js "></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js " integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3 " crossorigin="anonymous "></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
    <script src="/js/script.js"></script>
</head>

<body style="background-color: #F2F2F2;">
    <div class="col-lg">
        <div class="container">
            <div class="grid-container">

                <div class="feedback">
                    <div class="board">
                        <img class="feedback-board" src="/images/feedback-board.png" alt="" srcset="">
                    </div>
                    <div class="buttons">
                        <div class="d-flex">
                            <a href="/feedback/suggestions">
                                <img class='btn' src=" /images/allbtn.jpg " alt=" " srcset=" ">
                            </a>
                            <a href="/feedback/ui">
                                <img class='btn' src="/images/UIbtn.jpg " alt=" " srcset=" ">
                            </a>
                            <a href="/feedback/ux">
                                <img class='btn' src="/images/UXbtn.jpg " alt=" " srcset=" ">
                            </a>
                        </div>

                        <div class="d-flex ">
                            <a href="/feedback/enhancement">
                                <img class='btn' src="/images/enhancementbtn.jpg " alt=" " srcset=" ">
                            </a>
                            <a href="/feedback/bug">
                                <img class='btn' src="/images/bugbtn.jpg " alt=" " srcset=" ">
                            </a>
                        </div>
                        <div class="d-flex flex-row ">
                            <a href="/feedback/feature">
                                <img class='btn' src="/images/featurebtn.jpg " alt=" " srcset=" ">
                            </a>
                        </div>
                    </div>
                    <div class="d-flex flex-row list ">
                        <!-- <div class="row "> -->
                        <!-- <div class="column "> -->
                        <div class="map">
                            <h5>
                                <p class="roadmap ">Roadmap</p>
                            </h5>
                            <p class="roadmap-options">Planned </p>
                            <p class="roadmap-options">In-Progress</p>
                            <p class="roadmap-options">Live</p>
                        </div>
                        <!-- <div class=" column "> -->
                        <ul>
                            <li class="view"><a href="roadmap">View</a></li>
                        </ul>
                        <div class="view-num">
                            <p>
                                <%=roadmap.length %>
                            </p>
                            <p>
                                <%=progress.length %>
                            </p>
                            <p>
                                <%=live.length %>
                            </p>
                        </div>

                    </div>

                </div>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <img class="arrows" src="/assets/suggestions/icon-suggestions.svg " class="suggestion-icon " alt=" " srcset=" ">
                        <li class="suggestion">
                            <span>

                                    <%=request.length %>

                            </span> Suggestions
                        </li>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
                        <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
                              <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Sort by :<strong id="menu-item">Most Upvotes</strong><img class="arrow" src="/assets/shared/icon-arrow-down.svg" alt="" srcset="">
          </a>
                                   <ul id="mydropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li>
                                            <a class="dropdown-item" id="mostup" href="/feedback/bug?sort=mostup">Most Upvotes
                                                <img class = 'checked' id="mostCheckUp" onclick="checkMark();" src="/assets/shared/icon-check.svg" alt="" src="">
                                            </a>
                                        </li>
                                        <hr class="dropdown-divider ">
                                        <li><a class="dropdown-item" id="leastup" href="/feedback/bug?sort=leastup">Least Upvotes<img class = 'checked' id="leastCheckUp" onclick="checkMark();" src="/assets/shared/icon-check.svg" alt="" src=""></a></li>
                                        <hr class="dropdown-divider">
                                        <li><a class="dropdown-item" id="mostcomm" href="/feedback/bug?sort=mostcomm ">Most Comments<img class = 'checked' id="mostCheckComm" onclick="checkMark();" src="/assets/shared/icon-check.svg" alt="" src=""></a></li>
                                        <hr class="dropdown-divider">
                                        <li><a class="dropdown-item" id="leastcomm" href="/feedback/bug?sort=leastcomm ">Least Comments<img class = 'checked' id="leastCheckComm" onclick="checkMark();" src="/assets/shared/icon-check.svg" alt="" src=""></a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="my-lg-0 ">
                        <a class="add-feedback-top text-center " href="/feedback/new " type="button ">+Add Feedback</a>
                    </div>
                </nav>
            </div>
            <div class="feedback-screen-active">
                <% for(let req of Object.values(request)){ %>
                    <div class="feedback-suggestion">
                        <div class="d-flex flex-row feedback-suggested">

             <form id="vote" onsubmit="event.preventDefault();">
  <button id="content" class="btn feedback-suggested-numvotes" onclick="upvoteBug('<%= req._id %>')">
    <img class="dropupCaret" src="/assets/shared/icon-arrow-up.svg" alt="" srcset="">
    <div id="votes-<%= req._id %>">
      <%= req.upvotes %>
    </div>
  </button>
</form>
                            <a class="feedback-navlink" href="/feedback/<%=req._id%>">
                                <div class="feeback-title-para">
                                    <div class="feedback-suggested-title">
                                        <%=req.title%>
                                    </div>
                                    <div class="feedback-suggested-para">
                                        <%=req.description%>
                                    </div>
                                    <div class="comment-icon">
                                        <img src="/assets/shared/icon-comments.svg" alt="" srcset="">

                                        <span class="comment-num"><%=req.comments.length %></span>
                                    </div>
                                </div>
                                <button class="btn-suggestion"><%=req.category%></button>
                            </a>
                        </div>
                    </div>
                    <% } %>
            </div>

        </div>
    </div>
    </div>


    <!-- Sidebar end -->
</body>


</html>