
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js "></script>
    <script src="/js/script.js"></script>
    <title>Frontend Mentor | Product feedback app</title>
</head>
<body>

<div class="new-feedback-form">
  <embed class="new-feedback-icon" src="/assets/shared/icon-edit-feedback.svg" alt="Edit Icon" />
  <h2 class="new-feedback">Editing: <%= allRequest.title %></h2>

  <form action="/feedback/<%= allRequest._id %>?_method=PUT" method="POST" class="validated-form" data-parsley-validate novalidate>
    
    <div class="input-section">
        <h4 class="sub-heading">Feedback Title</h4>
        <label for="feedbacktitle" class="sub-heading-paragraph">Add a short, descriptive headline</label>
        <input class="feedback-text" type="text" name="request[title]" id="feedbacktitle" value="<%= allRequest.title %>" required />
    </div>

    <div class="input-section">
        <h4 class="sub-heading">Category</h4>
        <label for="features" class="sub-heading-paragraph">Choose a category for your feedback</label>
        <select class="form-select" name="request[category]" id="features">
            <% const categories = ['Feature', 'UI', 'UX', 'Enhancement', 'Bug'] %>
            <% for(let category of categories) { %>
                <option value="<%= category %>" <%= allRequest.category === category ? 'selected' : '' %> ><%= category %></option>
            <% } %>
        </select>
    </div>

    <div class="input-section">
        <h4 class="sub-heading">Feedback Detail</h4>
        <label for="feedbackdetail" class="sub-heading-paragraph">Include any specific comments on what should be improved, added, etc.</label>
        <textarea name="request[description]" id="feedbackdetail" cols="20" rows="3" required><%= allRequest.description %></textarea>
    </div>

    <div class="edit-form-actions">
        <button type="submit" form="delete-form" class="delete-feedback-btn">Delete</button>
        
        <div class="right-actions">
            <a href="/feedback/suggestions" class="cancel-feedback-btn">Cancel</a>
            <button class="save-feedback-btn" type="submit">Save Changes</button>
        </div>
    </div>
  </form>

  <form id="delete-form" action="/feedback/<%= allRequest._id %>?_method=DELETE" method="POST" style="display:none;"></form>
</div>

<% include ('../partials/footer') %>