                                    <!DOCTYPE html>
                                    <html lang="en">

                                    <head>
                                      <meta charset="UTF-8" />
                                      <meta name="viewport" content="width=device-width, initial-scale=1.0" />

                                      <link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon-32x32.png" />
                                      <link rel="stylesheet" href="/styles/styles.css" />
                                      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
                                      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
                              
                                      <title>Edit Feedback</title>
                                    </head>

                                    <body>
                    
                                        <div class="go-back">
                                          
                                          <a href="/feedback/suggestions">
                                            <span class="arrow">
                                              <img src="/assets/shared/icon-arrow-left.svg" alt="Back Arrow" />
                                            </span>
                                            Go Back
                                          </a>
                                        </div>

                                          <div class="new-feedback-form">
                                            <embed class="new-feedback-icon" src="/assets/shared/icon-edit-feedback.svg" alt="Edit Icon" />

                                          
                                            <form action="/feedback/<%= request._id %>?_method=PUT" method="POST"
                                              class="form-control-lg validated-form" data-parsley-validate novalidate>
                                              <h4 class="sub-heading">Feedback Title</h4>
                                              <label for="feedbacktitle" class="sub-heading-paragraph">Add a short, descriptive headline</label>
                                              <input class="feedback-text" type="text" name="request[title]" id="feedbacktitle"
                                                value="<%= request.title %>" required />
                                              <h4 id="category" class="sub-heading">Category</h4>
                                              <label for="features" class="sub-heading-paragraph">Choose a category for your feedback</label>
                                             <div >
                            <select class="form-select" name="request[category]" id="features">
                            <option value="Feature" class="feedback-options">Feature</option>
                            <option value="UI" class="feedback-options">UI</option>
                            <option value="UX" class="feedback-options">UX</option>
                            <option value="Enhancement" class="feedback-options">Enhancement</option>
                            <option value="Bug" class="feedback-options">Bug</option>
                            </select>
                        </div>
                        <h4 id="feedback-detail" class="sub-heading">Feedback Detail</h4>
                        <label for="feedback" class="sub-heading-paragraph">Include any specific comments on what should be improved, added, etc.</label>
                                              <textarea name="request[description]" id="feedbackdetail" cols="20" rows="3"
                                                required><%= request.description %></textarea>

                              
                                              <div class="add-cancel-feedback">
                                                <a href="/feedback/suggestions">
                                                  <button class="cancel-feedback-btn text-center" type="button">Cancel</button>
                                                </a>
                                                <button class="add-feedback-edit" type="submit">Save Changes</button>
                                              </div>
                                            </form>                            
                                            <form action="/feedback/<%= request._id %>?_method=DELETE" method="POST" class="delete-form">
                                              <button class="delete-feedback-btn">Delete</button>
                                            </form>
                                          </div>
                                          <%-include ('../partials/footer') %>