<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" sizes="32x32" href="/public/assets/favicon-32x32.png">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js "></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js " integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3 " crossorigin="anonymous "></script>
  <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script>
  <script src="/js/script.js"></script>


  <title>Frontend Mentor | Product feedback app</title>
</head>

<body style="background-color: #F2F2F2;">

  <!-- <div class="col-lg"> -->
  <div class="container">
    <div class="grid-container">

      <div class="feedback">
        <nav class="navbar navbar-expand-lg">
          <div class="container-fluid">
            <button class="navbar-toggler" onclick="navButton();" id="toggler-item" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span id="ChangeToggle" class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse justify-content-between collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">

                <li class="dropdowns">
                  <a class="nav-link" href="#" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <!-- Menu -->

                    <div class="drop">
                      <div class="buttons">
                        <div class="d-flex">
                          <a href="/feedback/suggestions">
                            <img class='btn' src=" /images/allbtn.jpg " alt=" " srcset=" ">
                          </a>
                          <a href="/feedback/ui">
                            <img class='btn' src="/images/UIbtn.jpg " alt=" " srcset=" ">
                          </a>
                          <a href="/feedback/ux">
                            <img class='btn' src="/images/UXbtn.jpg " alt=" " srcset=" ">
                          </a>
                        </div>

                        <div class="d-flex ">
                          <a href="/feedback/enhancement">
                            <img class='btn' src="/images/enhancementbtn.jpg " alt=" " srcset=" ">
                          </a>
                          <a href="/feedback/bug">
                            <img class='btn' src="/images/bugbtn.jpg " alt=" " srcset=" ">
                          </a>
                        </div>
                        <div class="d-flex flex-row ">
                          <a href="/feedback/feature">
                            <img class='btn' src="/images/featurebtn.jpg " alt=" " srcset=" ">
                          </a>
                        </div>
                      </div>
                      <div class="d-flex flex-row list ">
                        <div class="map">
                          <h5>
                            <p class="roadmap ">Roadmap</p>
                          </h5>
                          <span class="oval-planned"></span><p class="roadmap-options">Planned </p>
                          <span class="oval-progress"></span><p class="roadmap-options">In-Progress</p>
                          <span class="oval-live"></span><p class="roadmap-options">Live</p>
                        </div>
                        <ul class="view-roadmap">
                          <li class="view"><a href="/feedback/roadmap">View</a></li>
                        </ul>
                        <div class="view-num">
                          <p>
                            <%=roadmap.length %>
                          </p>
                          <p>
                            <%=progress.length %>
                          </p>
                          <p>
                            <%=live.length %>
                          </p>
                        </div>
                      </div>
                    </div>

                  </a>

                </li>

              </ul>
            </div>
          </div>
          <div class="board-text">
          <p class="navboard-title">Frontend Mentor</p>
          <p class="navboard-subtitle">FeedBack Board</p>
          </div>
        </nav>



        <div class="dropped">
          <div class="button">
            <div class="d-flex">
              <a href="/feedback/suggestions">
                <img class='btn' src=" /images/allbtn.jpg " alt=" " srcset=" ">
              </a>
              <a href="/feedback/ui">
                <img class='btn' src="/images/UIbtn.jpg " alt=" " srcset=" ">
              </a>
              <a href="/feedback/ux">
                <img class='btn' src="/images/UXbtn.jpg " alt=" " srcset=" ">
              </a>
            </div>

            <div class="d-flex ">
              <a href="/feedback/enhancement">
                <img class='btn' src="/images/enhancementbtn.jpg " alt=" " srcset=" ">
              </a>
              <a href="/feedback/bug">
                <img class='btn' src="/images/bugbtn.jpg " alt=" " srcset=" ">
              </a>
            </div>
            <div class="d-flex flex-row ">
              <a href="/feedback/feature">
                <img class='btn' src="/images/featurebtn.jpg " alt=" " srcset=" ">
              </a>
            </div>
          </div>
          <div class="d-flex flex-row list ">
             <div class="map">
                          <h5>
                            <p class="roadmap ">Roadmap</p>
                          </h5>
                          <span class="oval-planned"></span><p class="roadmap-options">Planned </p>
                          <span class="oval-progress"></span><p class="roadmap-options">In-Progress</p>
                          <span class="oval-live"></span><p class="roadmap-options">Live</p>
                        </div>
            <ul class="view-roadmap">
              <li class="view"><a href="/feedback/roadmap">View</a></li>
            </ul>
            <div class="view-num">
              <p>
                <%=roadmap.length %>
              </p>
              <p>
                <%=progress.length %>
              </p>
              <p>
                <%=live.length %>
              </p>
            </div>
          </div>
        </div>
        <nav class="dropdown navbar-expand-lg">

          <div class="container-fluid">
            <img class="arrows" src="/assets/suggestions/icon-suggestions.svg " class="suggestion-icon " alt=" " srcset=" ">
            <li class="suggestion">
              <span>
                0
              </span> Suggestions
            </li>

            <a class="nav-link" href="/feedback/ux?sort=mostup" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Sort by :<strong id="menu-item">Most Upvotes</strong>
              <span><img class="down-arrow" src="/assets/shared/icon-arrow-down.svg" alt="" srcset=""></span>

            </a>
            <ul id="mydropdown" class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li>
                <a class="dropdown-item" id="mostup" href="/feedback/ux?sort=mostup">Most Upvotes
                  <img class='checked' id="mostCheckUp" onclick="checkMark();" src="/assets/shared/icon-check.svg" alt="" src="">
                </a>
              </li>
              <hr class="dropdown-divider ">
              <li>
                <a class="dropdown-item" id="leastup" href="/feedback/ux?sort=leastup">Least Upvotes
                  <img class='checked' id="leastCheckUp" onclick="checkMark();" src="/assets/shared/icon-check.svg" alt="" src="">
                </a>
              </li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" id="mostcomm" href="/feedback/ux?sort=mostcomm ">Most Comments<img class='checked' id="mostCheckComm" onclick="checkMark();" src="/assets/shared/icon-check.svg" alt="" src=""></a></li>
              <hr class="dropdown-divider">
              <li><a class="dropdown-item" id="leastcomm" href="/feedback/ux?sort=leastcomm ">Least Comments<img class='checked' id="leastCheckComm" onclick="checkMark();" src="/assets/shared/icon-check.svg" alt="" src=""></a></li>
            </ul>
            <!-- </li>
                            </ul>
                        </div> -->
          </div>
                        <a class="add-feedback-top text-center" href="/feedback/new " type="button ">+Add Feedback</a>


      </div>
      </nav>
    </div>
  </div>
  <div class="feedback-screen ">
    <div class="overlay"></div>
    <figure class="figure-item ">
      <img class="no-feedback " src="/assets/suggestions/illustration-empty.svg " alt=" " srcset=" ">
      <figcaption>
        <h1 class="feedback-title ">There is no feedback yet.</h1>
        <p class="got-suggestion ">
          Got a suggestion? Found a bug that needs to be squashed? We love hearing about new ideas to improve our app.
        </p>
        <a href="/feedback/new" class="add-feedback">+Add Feedback</a>
      </figcaption>
    </figure>
  </div>

  </div>
  </div>
  </div>


  <!-- Sidebar end -->
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js" integrity="sha512-eyHL1atYNycXNXZMDndxrDhNAegH2BDWt1TmkXJPoGf1WLlNYt08CSjkqF5lnCRmdm3IrkHid8s2jOUY4NIZVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="/js/script.js"></script>

</html>