<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Show Feedback</title>
</head>

<body>
    <div class="col-md">
        <div class="container">
            <div class="row offset-2">
                <div class="col-sm">

                </div>
                <div class="go-back-show">



                    <a href="/feedback">
                        <span class="arrow "><img src="/assets/shared/icon-arrow-left.svg " alt=" "></span>Go Back
                    </a>
                    <a class="btn btn-primary edit-button" href="/feedback/<%=request._id%>/edit" type="button ">Edit Feedback</a>
                    <!-- <a href="/ ">Go Back</a> -->
                </div>
                <div class="col-sm">
                    <!-- <div class="feedback-suggestion "> -->
                    <div>
                        <div class="feedback-show">
                            <div class="d-flex flex-row feedback-suggested">
                                <div class="d-flex flex-column feedback-suggested-numvotes">
                                    <img class="dropupCaret" src="/assets/shared/icon-arrow-up.svg " alt=" " srcset=" ">

                                    <h6>
                                        <p>
                                            <%=request.upvotes%>
                                        </p>
                                    </h6>
                                </div>
                                <a class="feedback-navlink-show" href="/feedback/<%=request._id%>">
                                    <div class="feeback-title-para">
                                        <div class="feedback-suggested-title">
                                            <%=request.title%>
                                        </div>
                                        <div class="feedback-suggested-para">
                                            <%=request.description%>
                                        </div>
                                    </div>
                                    <button class="btn-suggestion"><%=request.category%></button>
                                </a>

                            </div>
                        </div>

                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-sm">
                    <div class="comments">

                        <!-- <div class="mb-3"> -->

                        <% for(let comment of request.comments) { %>
                            <div class="comment">
                                <div class="user-details">
                                    <img class="user-image" src="../<%=comment.user.image%>" alt="">

                                    <p class="comment-user">
                                        <%=comment.user.name %>
                                    </p>
                                    <p class="comment-username">
                                        <span>@<%=comment.user.username %></span>

                                    </p>
                                </div>
                                <p class="reply-link">Reply</p>


                                <p class="comment-content">
                                    <%=comment.content %>
                                </p>


                                <% for(let reply of comment.replies) { %>
                                    <div class="reply">
                                        <div class="user-reply-details">
                                            <img class="user-reply-image" src="../<%= reply.user.image %>" alt="">
                                            <p class="reply-user">
                                                <%=reply.user.name %>
                                            </p>
                                            <p class="reply-username">
                                                <span>@<%=reply.user.username %></span>
                                            </p>
                                        </div>
                                        <div class="replyTo">
                                            <p class="reply-replyto">

                                                <span class="replyingto">@<%=reply.replyingTo %></span>
                                                <%=reply.content %>
                                            </p>

                                            <!-- <p class="reply-content">

                                            </p> -->
                                        </div>
                                    </div>
                                    <% } %>



                            </div>

                            <% } %>

                    </div>
                </div>
                <form action="/feedback/<%=request._id%>/comments" method="POST" class="validated-form" novalidate>
                    <!-- <div class="col-sm "> -->
                    <div class="add-comment ">
                        <label class="add-comment-label " for="addcomment ">Add Comment</label>
                        <textarea class="add-comment-text " name="comment[content] " id="content " cols="30 " rows="4 " placeholder="Type your comment here "></textarea>

                    </div>
                    <!-- </div> -->
                    <button class="post-comment">Post Comment</button>
                </form>


            </div>
        </div>
        <!-- </div> -->

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js " integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3 " crossorigin="anonymous "></script>

</html>