<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <link rel="stylesheet" href="	https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <title>Show Feedback</title>
</head>

<body>
    <div class="col-md">
        <div class="container">
            <div class="row offset-2">
                <div class="col-sm">

                </div>
                <div class="go-back-show">



                    <a href="/feedback">
                        <span class="arrow "><img src="/assets/shared/icon-arrow-left.svg " alt=" "></span>Go Back
                    </a>
                    <a class="btn btn-primary edit-button" href="/feedback/<%=request._id%>/edit" type="button ">Edit Feedback</a>
                    <!-- <a href="/ ">Go Back</a> -->
                </div>
                <div class="col-sm">
                    <!-- <div class="feedback-suggestion "> -->
                    <div>
                        <div class="feedback-show">
                            <div class="d-flex flex-row feedback-suggested">
                                <div class="d-flex flex-column feedback-suggested-numvotes">
                                    <img class="dropupCaret" src="/assets/shared/icon-arrow-up.svg " alt=" " srcset=" ">

                                    <h6>
                                        <p>
                                            <%=request.upvotes%>
                                        </p>
                                    </h6>
                                </div>
                                <a class="feedback-navlink-show" href="/feedback/<%=request._id%>">
                                    <div class="feeback-title-para">
                                        <div class="feedback-suggested-title">
                                            <%=request.title%>
                                        </div>
                                        <div class="feedback-suggested-para">
                                            <%=request.description%>
                                        </div>
                                    </div>
                                    <button class="btn-suggestion"><%=request.category%></button>
                                </a>

                            </div>
                        </div>

                    </div>
                    <!-- </div> -->
                </div>
                <div class="col-sm">
                    <div class="comments">
                        <div class="comment">
                            <div class="mb-3">







                            </div>
                        </div>
                    </div>
                </div>
                <form action="/feedback/<%request._id%>/comments" method="POST" class="validated-form" novalidate>
                    <!-- <div class="col-sm "> -->
                    <div class="add-comment ">
                        <label class="add-comment-label " for="addcomment ">Add Comment</label>
                        <textarea class="add-comment-text " name="comment[content] " id="content " cols="30 " rows="4 " placeholder="Type your comment here "></textarea>
                        <button class="post-comment" aria-hidden="true ">Post Comment</button>
                    </div>
                    <!-- </div> -->
                </form>

                <%   for(var comment of request.comments) { %>
                    <p>
                        <%=  comments.content %>
                    </p>
                    <%  } %>
            </div>
        </div>
        <!-- </div> -->

    </div>

</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js " integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3 " crossorigin="anonymous "></script>

</html>