<!DOCTYPE html>
<html lang="en">


<%-include ('../layouts/boilerplate') %>
<body>

<%-include ('../partials/navbar') %>
 
  
  <div class="feedback-screen-active">
<div class="overlay"></div>

    <% for(let req of Object.values(request)){ %>
    <div  class="feedback-suggestion">
      <div id="suggested-feedback" class="feedback-suggested">
        <form id="vote" onsubmit="event.preventDefault();">
<button id="content" class="feedback-suggested-numvotes" onclick="upvoteSuggestion('<%= req._id %>')">
    <svg width="10" height="7" xmlns="http://www.w3.org/2000/svg" class="dropupCaret" id ="droparrow-<%= req._id %>">
        <path d="M1 6l4-4 4 4" stroke-width="2"/>
    </svg>
    <div class="votes" id="votes-<%= req._id %>">
        <%= req.upvotes %>
    </div>
</button>
        </form>
        <a class="feedback-navlink " href="/feedback/<%=req._id%>">
          <div class="feeback-title-para">
            <div id="counter" class="feedback-suggested-title">
              <%=req.title%>

            </div>
            <div class="feedback-suggested-para">
              <%=req.description%>
            </div>
            <div class="comment-icon">
              <img src="/assets/shared/icon-comments.svg" alt="" srcset="">

              <span class="comment-num"><%=req.comments.length %></span>
            </div>
          </div>
          <button class="btn-suggestion"><%=req.category%></button>
        </a>
      </div>
    </div>
    <% } %>
  </div>
  </div>

  </div>
  </div>

  <!-- Sidebar end -->

</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/parsley.js/2.9.2/parsley.min.js" integrity="sha512-eyHL1atYNycXNXZMDndxrDhNAegH2BDWt1TmkXJPoGf1WLlNYt08CSjkqF5lnCRmdm3IrkHid8s2jOUY4NIZVQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="/js/script.js"></script>

</html>